// Color Variables
$color-white: #FFF;
$color-black: #000;

// Primary Colors
$color-primary: #00347F;
$color-secondary: #fd4345;
$color-tertiary: #FFEFCA;

// Fonts
$font-primary: 'Montserrat', sans-serif;

