/* Footer
   ----------------------------------------------------*/
$footerHeight: 225px;

.main-content {
    margin-bottom: $footerHeight;
    -webkit-box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.2);
}

.section.mod-contact {
    position: fixed;
    width: 100%;
    height: $footerHeight;
    padding: 2em 4em;
    background-color: #5b5b5b;
    bottom: 0;
    z-index: -1;

    h2 {
        font-size: calc(18px + (27 - 18)*(100vw - 320px)/(1200 - 320));
        color: #363636;
        text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5), 0px -1px 1px rgba(0,0,0,.75);

        &:after {
            content: none;
        }
    }

    small {
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        color: #c8c8c8;
    }

    a {
        text-decoration: none;
        color: $color-secondary;
    }

    .contact-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 0;
        margin-bottom: 2em;
        
        
        li {
            list-style: none;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

    .contact-list__link {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: $color-secondary;
        width: 50px;
        height: 50px;
        padding: 10px;
        margin-right: 1em;
        border-radius: 50px;
        -webkit-transition: .25s;
        transition: .25s;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: inherit;
            height: inherit;
            background-color: $color-primary;
            border-radius: 50px;
            -webkit-transform: scale(0);
                    transform: scale(0);
            -webkit-transition: .25s;
            transition: .25s;
        }

        &:hover:after {
            
            -webkit-transform: scale(1);
                    transform: scale(1);
        }

        &:hover {

            svg {
                z-index: 10;
                fill: $color-secondary;
            }
        }
    }