/* Header
   ----------------------------------------------------*/

.intro {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: $color-primary;
    background-image: url('../img/xBlue-Darkness.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 0 2em;

    &:before {
        content: '';
        background-color: rgba($color-primary, .65);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.intro__content {
    margin: 5em 0;
    z-index: 1;
    
    @include respond-to(small) {
        margin: 8em 0;
    }

    p {
        max-width: 600px;
        font-size: 22px;
        line-height: 1.6;
        margin-right: auto;
        margin-left: auto;
    }
}

.intro__text {
    margin-bottom: 4em;
    color: $color-white;
}

.intro__header {
    color: $color-secondary;
    margin: 0;
    font-weight: 700;
    font-size: calc(32px + (75 - 32)*(100vw - 320px)/(1200 - 320));
}

@include respond-to(medium) {
    .hamburger {
        display: none;
    }
}