/* Logo
   ----------------------------------------------------*/

.logo {
    position: absolute;
    display: inline-block;
    z-index: 20;
    top: 15px;
    left: 20px;
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    svg {
        width: 55px;
        height: 55px;

        &:hover {
            path {
                stroke-dasharray: 1000;
                -webkit-animation: dash 1s cubic-bezier(.19,.54,.79,.91) both;
                        animation: dash 1s cubic-bezier(.19,.54,.79,.91) both;
            }
        }

        path {
            stroke-dasharray: 1000;
            -webkit-animation: dash 1.5s .65s cubic-bezier(.19,.54,.79,.91) both;
                    animation: dash 1.5s .65s cubic-bezier(.19,.54,.79,.91) both;

            @include respond-to(small) {
                -webkit-animation: none;
                        animation: none;
            }
         }
        
        @include respond-to(medium) {
            // position: fixed;
            width: 75px;
            height: 75px;
        }
    }

    @include respond-to(small) {
        -webkit-animation: none;
                animation: none;

        &.is-fixed {
            position: fixed;
            left: 25px;
            -webkit-animation: fadeIn .5s ease-in forwards;
                    animation: fadeIn .5s ease-in forwards;

            circle {
                fill: $color-primary;
            }
            path {
                stroke: $color-secondary;
                stroke-dashoffset: 1250;
                -webkit-animation: dash 1s 4s cubic-bezier(.19, .54, .79, .91) both;
                animation: dash 1s .4s cubic-bezier(.19, .54, .79, .91) both;
            }
        }

        &.not-animating {
            -webkit-animation: none;
                    animation: none;
        }
        
        top: 25px;
        left: 25px;
        
        @include respond-to(medium) {
            left: 50px;
        }
    }
}