/* Main Navigation
   ----------------------------------------------------*/

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 110vh;
    color: #FFEFCA;
    z-index: 10;
    -webkit-transition: .5s;
    transition: .5s;
    overflow: hidden;
    display: none;
    background-color: rgba($color-primary, 0);
    -webkit-transition: .5s;
    transition: .5s;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 10px;
        height: 100%;
        background-color: $color-secondary;
        -webkit-animation: growLine .5s .5s ease-in-out both;
                animation: growLine .5s .5s ease-in-out both;

        @include respond-to(medium) {
            width: 5px;
        }
    }

    &.is-open {
        display: block;

        &:before {
            content: '';
            position: absolute;
            width: 100vw;
            height: 100vh;
            top: 0;
            background-color: rgba($color-primary, .80);
            -webkit-animation: fadeIn .5s linear forwards;
                    animation: fadeIn .5s linear forwards;
        }
        
        &:after {
            -webkit-animation: growLine .5s ease-in-out both;
                animation: growLine .5s ease-in-out both;
        }

        @include respond-to(medium) {
            display: none;
        }
    }
            
    @include respond-to(small) {
        &.color-has-changed {
            background-color: rgba($color-primary, .85);
        }
    }
    @include respond-to(medium) {
        display: block;
        width: auto;
        height: auto;
    }
 }

    .main-nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        list-style: none;
        padding: 0 2em;
        height: 225px;
        font-weight: 700;

        .main-nav.is-open & {
            margin: 0;
            height: 100vh;
        }

        @include respond-to(medium) {
            -ms-flex-pack: distribute;
            justify-content: space-around;
        }
    }
        .main-nav__list-item {
            text-transform: uppercase;
            text-align: center;
            -webkit-animation: slide-in-right .75s .65s cubic-bezier(0.77,0.2,0.05,1.0) both;
                    animation: slide-in-right .75s .65s cubic-bezier(0.77,0.2,0.05,1.0) both;

            &:nth-child(2) {
                -webkit-animation-delay: .8s;
                        animation-delay: .8s;
            }

            &:nth-child(3) {
                -webkit-animation-delay: .95s;
                        animation-delay: .95s;
            }

            .main-nav.is-open & {
                font-size: 30px;
                margin-bottom: 1em;
                -webkit-animation-delay: .15s;
                        animation-delay: .15s;

                &:nth-child(2) {
                    -webkit-animation-delay: .3s;
                            animation-delay: .3s;
                }
                &:nth-child(3) {
                    -webkit-animation-delay: .45s;
                            animation-delay: .45s;
                }
            }

            a {
                position: relative;
                color: inherit;
                text-decoration: none;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: -8px;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    background-color: $color-secondary;
                    -webkit-transform: scaleX(0);
                            transform: scaleX(0);
                    -webkit-transition: .25s;
                    transition: .25s;
                }
                &:hover:after,
                &.is-active:after {
                    -webkit-transform: scaleX(1);
                            transform: scaleX(1);
                }
            }
        }