/* Projects
   ----------------------------------------------------*/
.section.mod-portfolio {
    padding: 0;

    .project:last-child {
        padding-bottom: 2.5em;
    }
}

.project {
    margin-bottom: 3em;
}
    .project__title {
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
        background-color: rgba($color-primary, .15);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%239C92AC' fill-opacity='0.06'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        padding: 1.5em 0;

        // &.is-animating {
        //     -webkit-animation: moveBG 50s infinite;
        //             animation: moveBG 50s infinite;

        //     @include respond-to(small) {
        //         -webkit-animation-duration: 75s;
        //                 animation-duration: 75s;
        //     }
        // }
    }

    .no-touch .project__title {
        background-attachment: fixed;
    }

    .project__content {
        max-width: 850px;
        padding: 3em 1.5em;
        margin: 0 auto;
        overflow-x: hidden;
        
        figure { margin: 0; }
        
        @include respond-to(medium) {
            padding: 3em 0;
        }
    }

    .project__img {
        margin-bottom: 5em;

        &.mod-award {
            margin-bottom: 1em;
        }
    }

    .project__award {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        margin-bottom: 4em;
        margin-left: auto;
        margin-right: auto;
        max-width: 85%;

        p {
            font-size: 11px;
            text-align: left;

            @include respond-to(small) {
                font-size: 14px;
            }
        }

        svg {
            min-width: 1.75em;
            height: 1.75em;
            fill: $color-primary;
            margin-right: .5em;
        }

        &.mod-multiple {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;

            p { margin: .5em 0; }

            @include respond-to(small) {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
            }
        }
    }

        .project__award-name {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

            @include respond-to(small) {
                -webkit-box-flex: 1;
                    -ms-flex: 1 0 auto;
                        flex: 1 0 auto;
                max-width: 50%;
                margin-right: 2em;
            }
        }

    .project__text {
        margin-bottom: 2em;
    }


    .project__text {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
        text-align: left;
        
        @include respond-to(small) {
            grid-gap: 75px;
            grid-template-columns: 1fr 1fr;

            &:after {
                content: '';
                position: absolute;
                left: 50%;
                top: 10%;
                width: 2px;
                height: 80%;
                background-color: #e8e8e8;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }
        }

        h4 {
            margin-bottom: 1em;
            text-transform: uppercase;
            color: $color-primary;
            font-size: 26px;
            letter-spacing: .2em;
        }
    }

    .project__desc {
        position: relative;
        padding-bottom: 2em;

        &:after {
            content: '';
            position: absolute;
            width: 75%;
            height: 2px;
            left: 50%;
            bottom: 0;
            background-color: #e8e8e8;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
        }

        @include respond-to(small) {
            
            &:after {
                display: none;
            }
        }
    }

    .project__btn {

        &:hover {

            svg {
                -webkit-transform: translateX(10px);
                        transform: translateX(10px);
            }
        }
    }