/* Sections
   ----------------------------------------------------*/

.section {
    padding: 0 2em;
    text-align: center;

    &.mod-block {
        background-color: $color-tertiary;
        padding: 2em;
    }

    h2 {
        font-size: calc(30px + (40 - 30)*(100vw - 320px)/(1200 - 320));
        text-transform: uppercase;
    }
}

.section__content {
    max-width: 800px;
    margin: 0 auto;
}

    .section__header {
        color: $color-primary;
        font-weight: 700;
    }

// .angled-edge {
//     @include angled-edge('outside bottom','lower left', $color-tertiary);
// }