/* Sections
   ----------------------------------------------------*/

.section {
    text-align: center;
    background-color: $color-white;
    padding: 2em;

    // h2 {
    //     font-size: calc(30px + (40 - 30)*(100vw - 320px)/(1200 - 320));
    //     text-transform: uppercase;
    // }

    @include respond-to(medium) {
        padding: 2em 0;
    }
}

.section__content {
    max-width: 825px;
    margin: 0 auto;
}

    // .section__header {
    //     position: relative;
    //     display: inline-block;
    //     color: $color-primary;
    //     font-weight: 700;

    //     &:after {
    //         content: '';
    //         position: absolute;
    //         left: 50%;
    //         -webkit-transform: translateX(-50%);
    //                 transform: translateX(-50%);
    //         bottom: -15px;
    //         background-color: #00347F;
    //         width: 50%;
    //         height: 2px;
    //     }
    // }

// .angled-edge {
//     @include angled-edge('outside bottom','lower left', $color-tertiary);
// }