/*
 * Buttons
 */

 .btn {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  line-height: 50px;
  margin-bottom: 1em;
  padding: 0 50px;
  
  overflow: hidden;
  z-index: 10;

  -webkit-transition: .3s linear;
          transition: .3s linear;
          
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;

  color: $color-white;
  border: none;
  border-radius: 50px;
  background-color: $color-primary;
  -webkit-box-shadow: 0px 10px 14px -5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 14px -5px rgba(0, 0, 0, 0.25);


  -webkit-appearance: none;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }

  &:before {
    background-color: lighten($color-secondary, 15) ;
  }

  &:after {
    background-color: $color-secondary;
  }

  &:hover,
  &.mod-ghost:hover {
    color: $color-white;
  }

  &:hover:before,
  &:hover:after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  
  &:hover:after {
    -webkit-transition-delay: 0.175s;
            transition-delay: 0.175s;
  }

  svg {
    fill: $color-white;
    height: 1.75em;
    width: 1.75em;
    margin-left: 1em;
  }

}

.btn.mod-ghost {
  color: $color-secondary;
  font-size: 20px;
  border: 2px solid $color-secondary;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
