/*
 * Buttons
 */

 .btn {
  position: relative;
  display: inline-block;

  line-height: 50px;
  margin-bottom: 1em;
  padding: 0 25px;
  overflow: hidden;

  -webkit-transition: .2s linear;
          transition: .2s linear;
          
  text-transform: uppercase;
  text-decoration: none;

  color: $color-white;
  border: none;
  border-radius: 7px;
  background-color: $color-primary;

  -webkit-appearance: none;
  cursor: pointer;

}

.btn.mod-ghost {
  color: $color-secondary;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid $color-secondary;
  background-color: transparent;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: $color-secondary;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: .2s;
    transition: .2s;
  }

  &:hover {
      color: $color-white;
  }
  &:hover:after {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
